.movies {
    height: 600px;
    margin: 20px;
    border: 1px;
    border-radius: 20px;
    background: #f8e2e2;
    transition: all 1s ease-in-out;
}

.movies:hover {
    transition: 1s;
    scale: 1.1;
}

.movie-text {
    margin-top: 10px;
}

.App {
    background: rgb(0,0,255);
    background: radial-gradient(circle, rgba(0,0,255,1) 0%, rgba(255,255,255,1) 49%, rgba(0,0,255,1) 100%);
}

.header {
    text-align: center;
    font-size: 10vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(#006dff, #ff00dd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s ease-in-out;
}

.header:hover {
    transition: 1s;
    scale: 1.1;
}

.movie-img {
    width: 250px;
}